.list {
    background-color: var(--light-grey);

    & > *:first-child {
        margin-top: var(--gap-sm);
    }

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.button-container {
    position: absolute;
    bottom: 9rem;
    right: 3rem;
}

.announcement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.load-more-loader {
    display: flex;
    justify-content: center;

    & img {
        height: 4rem;
    }
}
