.logout {
    display: flex;
    padding: 0 var(--gap-md) 0 var(--gap-md);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    & i {
        font-size: var(--font-size-xs);
    }
}
