.root {
    font-size: var(--font-size-xl);
    font-weight: 500;
    color: var(--dark-grey);
}

.border-bottom {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.margin-bottom {
    margin-bottom: 2rem;
}