@import 'styles/variables.css';


.root {
	display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: var(--gap-xl);

        @media (--mobile) {
            margin-bottom: 0;
        }

        @media (--tablet) {
            margin-bottom: 0;
        }
    }
}

.border {
    border-bottom: 1px solid var(--black);
    @media (--tablet) {
        margin: 0 var(--gap-sm);
    }
}