.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--gap-md);

    & > *:not(:last-child){
        margin-bottom: var(--gap-xl);
    }
    & :first-child {
        color: var(--dark-grey);
        font-size: var(--font-size-md);
        text-align: center;
    }
}

.root:first-child {
    color: var(--dark-grey);
    font-size: var(--font-size-md);
    text-align: center;
    margin-bottom: 5rem!important;
}
