.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--gap-md);

    & > *:not(:last-child){
        margin-bottom: var(--gap-md);
    }
}
