@import 'styles/variables.css';


.root {
    display: flex;
    flex-direction: column;
    color: var(--light-black);
    padding: var(--gap-sm);
}

.container {
    display: flex;
    margin-bottom: var(--gap-md);
}

.left {
    margin-right: var(--gap-sm);
}

.right {
    & > *:not(:last-child) {
        margin-bottom: var(--gap-sm);
    }
}

.header {
    & > *:first-child {
        font-weight: bold;
    }

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.image {
    height: 4rem;
    width: 4rem;
    background-size: cover;
    background-position: center;
}

.info {
    display: flex;
    align-items: center;

    & i {
        margin-right: var(--gap-sm);
        color: #A6ADC2;
    }
}