.root {
    display: flex;
    flex-direction: column;
}

.container {
    overflow: auto;
    height: 23rem;
    padding-left: 0;

    & ul {
        list-style: none;
    }

    & li {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--light-grey);
        padding: 1rem 1rem 1rem 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    & > *:first-child {
        width: 100%;
    }

    i {
        position: absolute;
        right: 0;
        font-size: var(--font-size-md);
    }
}

.slider {
    margin-top: var(--gap-sm);
    display: flex;
    flex-direction: column;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: var(--gap-sm);
    padding: 0.4rem;
    color: var(--dark-grey);
}