@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700|Material+Icons');


:root {
    font-size: 10px;
}

* {
    font: inherit;
    line-height: 1.3em;
    cursor: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    cursor: default;
    margin: 0;
}

strong {
    font-weight: 700;
}

input,
button,
select {
    padding: 0;
    border-radius: 0;
    border: 0;
    background: none;
}

em {
    font-style: italic;
}

input {
    user-select: initial;
}

a {
    text-decoration: none;
}
