:root {
    --white: #fff;
    --beige: #eee;
    --black: #000000;
    --ligth-black: #535C77;
    --gold: #d5c060;
    --dark-blue: #6294ca;
    --light-blue: #4285f4;
    --red: #ce2534;
    --orange: #E64D4B;
    --light-grey: #E5EAFA;
    --grey: #F1F3FA;
    --dark-grey: #454850;
    --yellow: #ffe44c;

    /* Sizes */
    --gap-sm: 1.2rem;
    --gap-xs: 1.4rem;
    --gap-md: 1.8rem;
    --gap-lg: 2rem;
    --gap-xl: 4rem;
    --gap-xxl: 8rem;

    /* Font Sizes */
    --font-size-sm: 1.2rem;
    --font-size-xs: 1.4rem;
    --font-size-md: 1.8rem;
    --font-size-lg: 2rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;

    /* Z-Index  */
    --z-index-negative: -1;
    --z-index-default: 0;
    --z-index-positive: 1;
    --z-index-overflow: 1000;

    /* Border Radius */
    --border-radius-default: 2.0rem;

    /* Opacity */
    --opacity-default: 0.65;

    /* Gradients */
    --primary-gradient: linear-gradient(to bottom, #fb8232 0%,#e64d4a 68%,#e64d4b 69%,#e87474 69%,#e64d4b 69%,#e64d4b 100%);
}
