.root {
    display: flex;
    min-width: 100%;
    overflow-x: auto;
    position: relative;

    & > * {
        margin-right: var(--gap-sm);
        background-color: #F1F3FA;
        color: #979797;
        text-align: center;
        margin-right: var(--gap-sm);
        flex: none;
        display: flex;
        flex-direction: column;

        & span {
            padding: 0.8rem;
            font-size: var(--font-size-sm);
        }

        & b {
            margin-top: 0.4rem;
            padding: 0.4rem;
            font-size: 0.8rem;
            font-weight: bold;
            background: var(--orange);
            color: var(--white);
        }
    }
}