.root {
    display: flex;
    flex-direction: column;
    color: var(--light-black);
}

.header {
    padding: var(--gap-sm);

    & > *:first-child {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.bottom {
    padding: var(--gap-sm);

    & > *:not(:last-child) {
        margin-bottom: var(--gap-sm);
    }
}

.image {
    height: 15rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.info {
    display: flex;
    align-items: center;

    & i {
        margin-right: var(--gap-sm);
        color: #A6ADC2;
    }
}

.skills {
    display: flex;
}

.pub-date {
    position: absolute;
    background-color: var(--dark-grey);
    color: var(--white);
    width: 100%;
    text-align: center;
    font-weight: bold;
    bottom: 0;
}
