@import 'styles/variables.css';


.root {
    display: flex;
    flex-direction: column;
    color: var(--light-black);
}

.header {
    padding: var(--gap-sm);

    & > *:first-child {
        font-weight: bold;
    }

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.bottom {
    padding: var(--gap-sm);

    & > *:not(:last-child) {
        margin-bottom: var(--gap-sm);
    }
}

.image {
    height: 15rem;
    background-size: cover;
    background-position: center;
}

.info {
    display: flex;
    align-items: center;

    & i {
        margin-right: var(--gap-sm);
        color: #A6ADC2;
    }
}

.skills {
    display: flex;
}