@import 'styles/variables.css';


.list {
    padding: 0 var(--gap-md) 0 var(--gap-md);

    & > *:not(:last-child) {
        border-bottom: 1px solid var(--light-gray);
    }
}

.item {
    display: flex;
    padding: var(--gap-md) 0 var(--gap-md) 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--dark-gray);

    & > *:first-child {
        display: flex;
        flex-grow: 1;
        & i {
            color: var(--orange);
            margin-right: var(--gap-sm);
        }
    }

    & > *:last-child {
        color: var(--ligth-black);
    }
}
