.list {
    padding: 0 var(--gap-md) 0 var(--gap-md);

    & > *:not(:last-child) {
        border-bottom: 1px solid var(--light-grey);
    }
}

.item {
    display: flex;
    padding: var(--gap-sm) 0 var(--gap-sm) 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--dark-gray);


    & > *:first-child {
        display: flex;
        align-items: center;
        flex-grow: 1;

        & i {
            color: var(--orange);
            font-size: var(--font-size-md);
            margin-right: var(--gap-sm);
        }
    }

    & > *:last-child {
        color: var(--ligth-black);
        font-size: var(--font-size-sm);
    }
}
