.root {
    display: block;
    min-width: 320px;
    min-width: 20rem;
}

.label {
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--dark-grey);
    padding: 1rem 0;
}

.error {

    &.label {
        color: var(--red);
    }

    &.select {
        border-color: #FF3C38;
    }

    color: var(--red);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & select {
        border: none;
        outline: none;
	    background: transparent;
	    color: var(--dark-grey);
        width: 100%;
        font-size: var(--font-size-md);
        font-weight: 300;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }
}
