.root {
    height: 100%;

    & > *:first-child {
        margin-top: var(--gap-sm);
        cursor: pointer;
    }

    & > * {
        margin-bottom: var(--gap-md);
    }

    & > *:last-child {
        margin-bottom: var(--gap-xxl);
    }
}

.notification {
    display: flex;
    padding: var(--gap-sm);

    & > *:not(:last-child) {
        margin-right: var(--gap-sm);
    }
}

.description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: var(--gap-xs);
    }
}

.button-container {
    position: absolute;
    bottom: 8rem;
    right: 3rem;
}
