.root {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;

    & > *:first-child {
        margin-right: var(--gap-sm);
    }

    & i {
        color: var(--orange);
        z-index: var(--z-index-positive);
    }

    & input {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        z-index: var(--z-index-negative);


        &:checked ~ .check-mark:after {
           display: block;
        }
    }

}
