.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    padding-left: 0.4rem;
    color: var(--dark-grey);

    input {
        opacity: 0;
        cursor: pointer;

        &:checked ~ .check-mark:after {
           display: block;
        }
    }

    .check-mark {
        position: absolute;
        top: 0;
        height: 15px;
        width: 15px;
        padding: 0 0 2px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid var(--light-grey);
        border-radius: 2rem;

        &.checked {
            border: 2px solid var(--orange);
        }

    }

}
