.root {
    display: flex;
    flex: none;
    background-color: var(--orange);
    color: var(--white);
    padding: var(--gap-sm);
    justify-content: space-between;
    border-top: 1px solid rgb(243, 125, 123);

    & div {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: var(--gap-sm);
        font-size: var(--font-size-xs);
    }
}

.active {
    background: var(--white);
    font-weight: bold;
    color: var(--orange);
    border-radius:  0.4rem;
}