@import 'styles/variables.css';


.root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    & > * {
        margin-top: var(--gap-sm);
    }

    & > *:last-child {
        margin-bottom: var(--gap-xxl);
    }

    &.no-margin-bottom {
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &.no-margin-top {
        & > * {
            margin-top: 0;
        }
    }
}
