.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url('./assets/line.svg');
    background-repeat: no-repeat;
    background-position: center;

    span {
        color: var(--light-grey);
        background: var(--white);
        padding: var(--gap-xs);
    }
}
