.root {
    & .label {
        font-size: var(--font-size-md);
        font-weight: 300;
        color: var(--dark-grey);
        padding: 1rem 0;
    }
}

.error {
    & .wrapper {
        border-bottom: 1px solid var(--red);
    }

    & .label {
        color: var(--red);
    }

    & .wrapper {
        textarea {
            color: var(--red);

            &::placeholder {
                color: var(--red);
            }
        }
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    & textarea {
        border: none;
        outline: none;
	    background: transparent;
	    color: var(--dark-grey);
        width: 100%;
        font-size: var(--font-size-md);
        font-weight: 200;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }
}
