.root {
    display: flex;
    align-items: center;
    padding: var(--gap-md);
    z-index: var(--z-index-positive);
    color: var(--ligth-black);
    font-weight: 600;
}

.left {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shadow {
    box-shadow: 0px 2px 14px 0px rgba(163,163,163,1);
}
