{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');

  const getRandomColor = () => {
    const letters = '0123456789ABCDEF'.split('');
    let color = '#';
    for (let i = 0; i < 6; i++ ) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  // const chartData = {{ chart_data | safe }};
  // Sample data
  const data = {
    datasets: [{
      data: {{ chart_data | safe }},
      backgroundColor: [getRandomColor(), getRandomColor()],
    }],
    labels: [
      'Onboarded Volunteers',
      'Onboarded Enterprises',
    ]
  };

  // Render the chart
  var chart = new Chart(ctx, {
    type: 'pie',
    data: data,
    // options: options
  });
});
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="display: flex; justify-content: center; position: relative; height:40vh; width:40vw">
  <canvas style="margin-bottom: 30px;" id="myChart"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}