@import 'styles/variables.css';


.card-content {
    padding: var(--gap-sm);
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.list {
    display: flex;
    flex-direction: column;

    & > * {
        padding: var(--gap-sm) 0 var(--gap-sm) 0;
        border-bottom: 1px solid var(--light-grey);
    }
}

.reviews {
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.button-container {
    position: absolute;
    bottom: 8rem;
    right: 3rem;
}
