@import 'styles/variables.css';


.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-position: 50%;
    background-size: cover;
}

.phone {
    width: 41.08vh;
    height: 74vh;
    padding: 7.43656vh 1.90292vh;
    position: relative;
    background: url('./assets/phone.svg') no-repeat;
}

.mobile {
    width: 100vw;
    height: 100vh;
}

.root {
    position: relative;
    background: var(--white);
    width: 100%;
    height: 100%;
}

.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: none;
}