
.content {
    display: flex;
    align-items: center;
    padding: 0 var(--gap-lg) 0 var(--gap-sm);

    & > * {
        &:first-child {
            flex-grow: 1;
        }

        &:last-child {
            font-size: var(--font-size-xl);
        }
    }
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}

.actions {
    display: flex;

    & > *:first-child {
        margin-right: var(--gap-sm);
    }
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}

.rating {
    display: flex;

    & i {
        width: 2.4rem;
        &.yellow {
            color: var(--yellow);
        }
    }
}
