.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 0 2rem;
    height: 100%;

    & > * {
        margin-bottom: 1rem;
    }

    span {
        text-align: center;
    }

    & form {
        & > *:not(:last-child) {
            margin-top: var(--gap-sm);
        }

        & > *:last-child {
            margin-top: var(--gap-md);
        }

    }

    & p {
        color: var(--red);
    }
}

.social-sign-up {
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.logo {
    margin-top: var(--gap-lg);
    width: 8rem;
}

.link {
    width: 100%;
    text-align: center;
    color: var(--dark-grey);

    & > *:last-child {
        color: var(--orange);
        text-decoration: underline;
    }
}
