.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 0 2rem;
    height: 100%;

    & > * {
        margin-bottom: 1rem;
    }

    span {
        text-align: center;
    }

    & form {
        & > *:not(:last-child) {
            margin-top: var(--gap-sm);
        }

        & > *:last-child {
            margin-top: var(--gap-md);
        }

    }

}

.social-sign-up {
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.logo {
    margin-top: var(--gap-lg);
    width: 8rem;
}

.text {
    color: var(--dark-grey);
    font-size: var(--font-size-sm);
    text-align: center;
}

.terms {
    display: flex;
    color: var(--dark-grey);
    font-size: var(--font-size-sm);
    align-items: center;
    justify-content: center;

    & > *:last-child {
        color: var(--orange);
        text-decoration: underline;
        margin-left: calc(var(--gap-xs)/3)
    }
}

.link {
    width: 100%;
    text-align: center;
    color: var(--dark-grey);

    & > *:last-child {
        color: var(--orange);
        text-decoration: underline;
    }
}
