.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.icon {
    font-size: 7rem;
    text-align: center;
    color: var(--ligth-black);
    margin-bottom: var(--gap-lg);
}

.title {
    color: var(--ligth-black);
    font-weight: bold;
    text-align: center;
}

.text {
    color: var(--ligth-black);
    text-align: center;
    padding: var(--gap-md);
}