.card-content {
    padding: var(--gap-sm);
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.image {
    height: 20rem;
    background-size: cover;
    background-position: center;
    display: block;

    & input {
        display: none;
    }
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}