@import 'styles/variables.css';

.root {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;

    @media (--large-desktop) {
        height: 700px;
    }

    @media (--tablet) {
        height: 300px;
    }
}
