.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 1rem;
    overflow: auto;
    flex-grow: 1;
}

.container {
    overflow: auto;
    flex-grow: 1;
    & ul {
        list-style: none;
        padding-left: 2rem;
    }

    & li {
        display: flex;
        justify-content: space-betwen;
        border-bottom: 1px solid var(--light-grey);
        padding: 1rem 1rem 1rem 0;
    }
}

.header {
    text-align: center;
    font-size: var(--font-size-xs);
    background: var(--grey);
    padding: 4rem var(--gap-md) var(--gap-md) var(--gap-md);

    & > * {
        color: var(--white);
        &:last-child {
            font-weight: 400;
        }
    }
}

.square {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    color: var(--white);
    padding: var(--gap-lg) var(--gap-sm) var(--gap-lg) var(--gap-sm);

    & > :first-child {
        text-align: center;
    }
}

.checked {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background: var(--black);
    padding: 0.6rem;
    margin-top: 2rem;
    align-items: stretch;
    color: var(--light-grey);
    font-size: 1rem;
    bottom: 0;
    justify-content: center;

    & > :first-child {
        margin-right: 0.5rem;
        font-size: 1.4rem;

    }
}

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;

    & > * {
        width: 90%;
        bottom: 1rem;
        width: 90%;
    }
}