.root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > *:first-child {
        margin-top: var(--gap-sm);
        cursor: pointer;
    }
}

.chats {
    flex-grow: 1;
    overflow-y: auto;

    & > * {
        margin-bottom: var(--gap-md);
    }
}

.chat {
    padding: 0 var(--gap-md) 0 var(--gap-md);
    display: flex;

    & > *:first-child {
        margin-right: 0.4rem;
        color: var(--dark-grey)
    }
}

.author {
    font-size: var(--font-size-sm);
    color: var(--dark-grey);
    margin-bottom: 0.4rem;
}

.message {
    background: var(--white);
    padding: var(--gap-sm);
    border-radius: 1rem;
    font-size: var(--font-size-xs);
    color: var(--dark-grey);
}

.input {
    padding: var(--gap-sm);
    display: flex;
    background: var(--white);
    align-items: center;
    flex: none;

    & > *:first-child {
        flex-grow: 1;
    }

    & > *:last-child {
        color: var(--orange);
        cursor: pointer;

        &:hover {
            color: var(--black);
        }
    }
}
