.root {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}

.chats {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding-top: var(--gap-lg);
    overflow-x: hidden;

    & > * {
        margin-bottom: var(--gap-md);
    }
}

.chat {
    margin: 2rem;

    & > *:first-child {
        margin-bottom: var(--gap-sm);
    }
}

.author {
    font-size: var(--font-size-sm);
    color: var(--dark-grey);
    font-weight: bold;
    margin-bottom: 0.4rem;

    & > *:first-child {
        margin-right: var(--gap-sm);
    }
}

.message {
    background: var(--white);
    padding: var(--gap-sm);
    border-radius: 1rem;
    font-size: var(--font-size-xs);
    color: var(--dark-grey);

    & p {
        overflow-wrap: break-word;
    }
}

.input {
    padding: var(--gap-sm);
    display: flex;
    background: var(--white);
    align-items: center;
    flex: none;

    & > *:first-child {
        flex-grow: 1;
    }

    & > *:last-child {
        color: var(--orange);
        cursor: pointer;

        &:hover {
            color: var(--black);
        }
    }
}
