
.job {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
    display: flex;
    flex-direction: column;
}

.job-header {
    padding: var(--gap-sm);

    & > *:first-child {
        font-weight: bold;
    }

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.stats {
    display: flex;
    margin-bottom: var(--gap-sm);

    & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        & i {
            font-size: var(--font-size-lg);
        }

        & span {
            font-size: var(--font-size-xs);
            margin-top: var(--gap-sm);
        }
    }
}

.skills {
    display: flex;
}

.image {
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.description {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.applicants {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.schedule {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);

    & > *:first-child {
        padding-bottom: var(--gap-sm)
    }

    & > * {
        display: flex;
        align-items: center;

        & i {
            margin-right: var(--gap-sm);
        }
    }
}

.content {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.social-enterprise {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
    display: flex;
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}
