
.job {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: var(--gap-sm);
    font-weight: bold;
    font-size: var(--font-size-xl);
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    font-size: var(--font-size-xs);
    color: var(--grey);
}

.stats {
    display: flex;
    margin: var(--gap-md) 0 var(--gap-md) 0;

    & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        & i {
            font-size: var(--font-size-lg);
            color: var(--grey);
        }

        & div {
            padding-top: calc(var(--gap-sm)/2);
            color: var(--grey);
        }

        & span {
            padding-top: calc(var(--gap-sm)/2);
            font-size: var(--font-size-sm);
            font-weight: bold;
            text-align: center;
        }
    }
}

.skills {
    display: flex;
}

.image {
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.description {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.applicants {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.schedule {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);

    & > *:first-child {
        padding-bottom: var(--gap-sm)
    }

    & > * {
        display: flex;
        align-items: center;

        & i {
            margin-right: var(--gap-sm);
        }
    }
}

.content {
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
}

.social-enterprise {
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gap-sm) 0 var(--gap-sm);
    display: flex;

    & i {
        color: var(--grey);
    }
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}

.quit-left {
    left: auto;
}
