@import 'styles/variables.css';

.root {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: var(--gap-md);
    }
}

.rating {
    display: flex;

    & i {
        width: 2.4rem;
        &.yellow {
            color: var(--yellow);
        }
    }
}
