.root {
    display: flex;
    flex-direction: column;
    padding: var(--gap-md);
}

.title {
    margin-bottom: var(--gap-sm);
    font-weight: bold;
}

.rating {
    display: flex;

    & i {
        width: 2.4rem;
        &.yellow {
            color: var(--yellow);
        }
    }
}

.description {
    margin: var(--gap-sm) 0 var(--gap-sm) 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: flex-end;

    & i {
        margin-right: 0.4rem;
    }
}
