.root {
    background: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    padding: var(--gap-sm);
    cursor: pointer;
    outline: none;
    transition: background 0.4s ease-in-out;
    border: 1px solid white;
    width: 100%;
}

.disabled {
    background: transparent;
    opacity: 0.8;
    color: var(--grey);
    font-weight: 400;
    cursor: not-allowed;
}

.primary {
    background: var(--orange);
    border-radius: 0.5rem;
    border-color: var(--orange);
    color: var(--white);
}

.facebook {
    color: var(--white);
    background: var(--light-blue) url('./assets/icon-facebook.svg');
    background-repeat: no-repeat;
    background-position: 5% center;
}

.google {
    color: var(--white);
    background: var(--light-blue) url('./assets/icon-google.svg');
    background-repeat: no-repeat;
    background-position: 5% center;
}

.circle {
    border-radius: 50%;
    background: var(--orange);
    box-shadow: var(--default-box-shadow);
    border-color: var(--orange);
    width: 5rem;
    height: 5rem;
}

.icon {
    padding: 0;
    background-color: transparent;
    color: #d8d8d8;
    border: none;
}
