.root {
    position: relative;
    background: var(--primary-gradient);
    display: flex;
    font-size: var(--font-size-lg);
    color: var(--white);
    justify-content: space-between;
    padding: var(--gap-xxl) var(--gap-md) var(--gap-md) var(--gap-md);
}

.full {
    flex-direction: column;
    padding: var(--gap-xs);
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xs);
    font-weight: lighter;
}

.info {
    text-align: center;
    margin-bottom: var(--gap-sm);

    & > *:first-child {
        margin-bottom: var(--gap-xs);
        border: 2px solid var(--white);
    }

    & > *:nth-child(2) {
        font-size: var(--font-size-md);
        font-weight: 500;
    }

    & > *:last-child {
        margin-top: 0.4rem
    }
}

.actions {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: var(--gap-lg);
    right: var(--gap-xs);

    i {
        background: var(--white);
        color: var(--orange);
        border-radius: 100%;
        font-size: var(--font-size-lg);
    }
}
