.root {
    & > *:first-child {
        margin-top: var(--gap-sm);
        cursor: pointer;
    }

    & > * {
        margin-bottom: var(--gap-md);
    }
}

.chat {
    padding: 0 var(--gap-md) 0 var(--gap-md);
    display: flex;
    height: 9rem;
    max-height: 9rem;
}

.overview {
    flex-grow: 1;
    padding-left: 1rem;
}

.messages {
    margin-top: var(--gap-sm);
}

.user {
    display: flex;
    align-items: center;
    font-weight: bold;

    & >*:first-child {
        margin-right: var(--gap-sm);
    }
}