.root {
    & > *:first-child {
        margin-top: var(--gap-sm);
        cursor: pointer;
    }

    & > * {
        margin-bottom: var(--gap-md);
    }
}

.chat {
    display: flex;
    flex-direction: column;
}

.preview {
    padding: 0 var(--gap-md) 0 var(--gap-md);
    display: flex;
    height: 6rem;
    max-height: 6rem;
}

.overview {
    flex-grow: 1;
    padding-left: 1rem;
}

.messages {
    margin-top: var(--gap-sm);
}

.user {
    display: flex;
    align-items: center;
    font-weight: bold;

    & >*:first-child {
        margin-right: var(--gap-sm);
    }
}

.reminder {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--gray);
    padding: 0 var(--gap-xs) 0 var(--gap-xs);
    font-size: var(--font-size-sm);
    justify-content: flex-end;
    margin-top: var(--gap-sm);
    font-weight: bold;

    & > *:first-child {
        margin-right: calc(var(--gap-sm)/2);
    }
}
