.form {
    padding: 0 var(--gap-md) 0 var(--gap-md);
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--gap-md);
}
