@import 'styles/variables.css';

.root {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
}


.container {
    width: 85%;
    padding: 25.6px;
    padding: 1.6rem;
    border-radius: 0.4rem;
    background-color: #FFF;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.2);
    z-index: var(--z-index-overflow);
}

.header {
    padding: var(--gap-sm);
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--gap-lg);
}
