@global-import 'react-circular-progressbar/dist/styles.css';

.card-content {
    padding: var(--gap-sm);
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.list {
    flex-grow: 1;
    background-color: var(--light-grey);

    & > *:not(:last-child) {
        margin-bottom: var(--gap-sm);
    }
}

.reviews {
    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.charts {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;

    & > * {
        margin-bottom: var(--gap-sm);
    }
}

.polar-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & > *:first-child {
        height: 100%;
        min-height: 25rem;
        width: 100%;
        min-width: 25rem;
        flex-grow: 1;
    }

    & svg {
        margin: 1rem;
        box-sizing: border-box;
    }
}

.skill {
    display: flex;
    align-items: center;

    & >*:first-child {
        width: 30%;
        padding: var(--gap-md);
    }

    & > *:last-child {
        display: flex;
        flex-direction: column;

        i {
            color: var(--orange);
            margin-right: var(--gap-sm);
        }

        & > *:last-child {
            display: flex;
            align-items: center;
        }

        h1 {
            font-size: var(--font-size-lg);
            margin: 0;
        }

        p {
            margin-top: 0;
            color: var(--dark-grey);
        }
    }
}
