.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: url('./assets/hands.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    & > *:not(:first-child) {
        margin-top: var(--gap-lg);
        width: 90%;
    }

    & > *:last-child {
        text-align: center;
        margin-bottom: var(--gap-lg);
        width: 100%;

        & a {
            color: var(--orange);
            cursor: pointer;
        }
    }
}

.logo {
    background: url('./assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center 20%;
    width: 100%;
    flex-grow: 1;
}

.link {
    width: 100%;
    text-align: center;
    color: var(--dark-grey);

    & span {
        color: var(--orange);
        text-decoration: underline;
    }
}

.slogan {
    text-align: center;
    font-size: var(--font-size-md);
    margin-bottom: var(--gap-lg);
}
