.root {
    color: var(--ligth-black);
}

.title {
    padding: var(--gap-sm);
}

.content {
    background: var(--white);
    padding: var(--gap-sm) 0 var(--gap-sm) 0;
}

.no-padding-top {
    padding-top: 0;
}
