.root {
    display: flex;
    padding: var(--gap-md);
    flex-shrink: 0;
    align-item: center;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px 2px 14px 0px rgba(163,163,163,1);
    z-index: var(--z-index-overflow);

    & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--dark-grey);
        position: relative;

        & span {
            font-size: 0.8rem;
        }
    }
}

.is-active {
    color: var(--orange);
    font-weight: bold;
}

.count {
    background-color: var(--dark-grey);
    border-radius: 100%;
    color: white;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    font-weight: 600;
    right: 0.1rem;
    top: -0.9rem;
    font-size: 1.2rem;
}