.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-grey);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    & > *:first-child {
        flex: none;
    }
}
