.root {
    ul {
        list-style-type: none;
        padding: 0;

        li {
            a {
                cursor: pointer;
                display: flex;
                align-items: center;
                span {
                    font-weight: bold;
                }
            }
            &:not(.have-sub-filters) {
                margin-bottom: var(--gap-md);
            }

            &:not(.have-sub-filters) {
                margin-bottom: var(--gap-sm);
            }

            &:last-child {
                margin-bottom: var(--gap-md);
            }
        }
    }
}

.have-sub-filters {
    a {
        justify-content: space-between;
        margin-bottom: var(--gap-md);
        border-top: 1px solid #ededed;
        padding-top: var(--gap-md);
    }
}
