@import 'styles/variables.css';


.root {
	display: grid;
	grid-template-columns: repeat(auto-fill, 31%);
	grid-auto-rows: minmax(100px, auto);
	justify-content: space-between;

	@media (--tablet) {
		grid-template-columns: repeat(auto-fill, 48%);
	}

	@media (--mobile) {
		grid-template-columns: repeat(auto-fill, 100%);
	}
}

